// $body-background-color: $grey-dk-300;
$sidebar-color: mix(#b668c2, #FFFFFF, 10%) #$grey-dk-300;
$border-color: #b668c2;

// $body-text-color: $grey-lt-300;
// $body-heading-color: $grey-lt-000;
// $nav-child-link-color: $grey-dk-000;
// $search-result-preview-color: $grey-dk-000;

$link-color: #b668c2;
$btn-primary-color: #b668c2;
// $base-button-color: $grey-dk-250;

// $code-background-color: $grey-dk-250;
// $search-background-color: $grey-dk-250;
// $table-background-color: $grey-dk-250;
$feedback-color: darken($sidebar-color, 1.5%);
